@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
.bottom-bar{
    height: 16%;
    width: 100%;
    margin: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #609c7a;
}


.col{
    margin-left: 10px;
}
.uktc_logo{
    width: 4%;
    height: auto;
}
.programmers{
    font-size: 14px;
}

p{
    font-size: 13px;
}
.credits{
    text-decoration: none;
    color: black !important;
}