@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.logo{
    width: 8%;
}

/*Buttons*/
.button {
    background-color: white;
    border: none;
    color: #90c97c;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    margin-right: 50px;
    cursor: pointer;
}

.button1 {
    color: black;
    /*border: 2px solid #90c97c;*/
}

.button1:hover {
    transition: 0.5s;
    /*background-color: #90c97c;*/
    color: #90c97c;
}
.custom-toggler.navbar-toggler {
    border-color: lightgreen;
}
