/*#f1d2c6*/
/*FAEFE99B*/
/*#faefe9*/
/*#dee5d5*/
/*#90c97c*/
/*#609c7a*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

body{
  background-color: rgba(250, 245, 241, 1.61) !important;
}

.navbar {
  width: 85%;
  margin: auto;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 40%;
  cursor: pointer;
}
.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

.image-logo{
  width: 30%;
  height: auto;
}

.carousel slide{
  width: 70%;
  position: absolute;
  background-position: 100px 5px;
  height: 300px;
}
.carousel-item{
  width:70%;
  height: 600px;
  /*width:100px;*/
}

.texts{
  width: 100%;
  height: 400px;
}
.first-quarter{
  width: 50%;
  height: 50%;
  float: left;
}
.second-quarter{
  width: 50%;
  height: 60%;
  background-color: black;
  float: right;
}
.third-quarter{
  width: 50%;
  height: 60%;
  background-color: black;
  /*margin-top: 50px;*/
  float: left;
}
.fourth-quarter{
  width: 50%;
  height: 200px;
  float: right;
}
/*.neshto1{*/
/*  width: 200px;*/
/*  height: 200px;*/
/*}*/
/*.neshto2{*/
/*  width: 450px;*/
/*  height: 200px;*/
/*!*}*! zakomentiram tuk zaradi snimkite i da se opravqt samite boksove*/
/*.carousel-inner{overflow:visible} */

/*Texts for quarter*/
.first-quarter p{
  padding-left: 1%;
}
.fourth-quarter p{
  padding-left: 1%;
}